@use '../foundation/index' as *;
@use '../global/index' as *;

.c-item-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: $spacing-md;
  &__icon {
    width: 3rem;
    aspect-ratio: 1/1;
    position: relative;
    &._wide {
      width: 2.5rem;
      aspect-ratio: 2/3;
    }
    span {
      position: absolute;
      top: 10%;
      left: 30%;
    }
  }
  &__rank {
    font-size: fz(16, 20);
    line-height: 1.6;
    font-weight: $fw-semibold;
    font-family: $font-serif;
  }
  &__body {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
  }
  &__title {
    font-size: fz(16, 20);
    font-weight: $fw-semibold;
    font-family: $font-serif;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 4rem;
  }

  &__price {
    font-size: fz(14, 16);
  }
  &__price-unit {
    font-size: fz(12, 14);
  }
}

.c-item-card,
.c-item-link {
  &:focus-visible {
    outline: 2px solid $color-sub;
  }
}
