@use '../foundation/index' as *;
@use '../global/index' as *;

.p-about {
  &__contents-outline {
    border: 1px solid $color-sub;
    padding-inline: $spacing-md;
    padding-block: $spacing-xl;
    border-radius: 16px;
    display: grid;
    gap: $spacing-lg;
    @include mq(md) {
      gap: $spacing-2xl;
    }
  }
  &__header {
    display: grid;
    gap: $spacing-md;
  }
  &__img {
    margin-inline: auto;
    width: 16%;
  }
  &__paragraph {
    max-width: 70%;
    margin-inline: auto;
    line-height: 2.6;
    font-family: $font-serif;
    font-size: fz(16, 18);
  }
  &__pictures {
    @include mq(md) {
      max-width: 70%;
      margin-inline: auto;
    }
  }
  &__picture-item {
    border-radius: 4px;
    overflow: hidden;
  }
  &__images-list {
    display: flex;
    gap: $spacing-md;
    padding-block: 16%;
    @include mq(md) {
      gap: $spacing-lg;
    }
  }
  &__images-item {
    border-radius: 4px;
    overflow: hidden;
    width: 50%;
    aspect-ratio: 3/4;
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;
    @include mq(md) {
      width: 33.333333333333336%;
    }

    &._first {
      transform: translateY(-30%);
      transition-delay: 0s;
    }

    &._second {
      display: none;
      transition-delay: 0.2s;
      @include mq(md) {
        display: block;
      }
    }

    &._third {
      transform: translateY(30%);
      transition-delay: 0.4s;
    }
    // アニメーション状態
    &.is-animated {
      opacity: 1;

      &._first {
        transform: translateY(-30%);
      }

      &._second {
        transform: translateY(0);
      }

      &._third {
        transform: translateY(30%);
      }
    }
  }
  &__features {
    margin-block-start: $spacing-lg;
    @include mq(md) {
      margin-block-start: $spacing-xl;
    }
  }
}
