@use '../foundation/index' as *;
@use '../global/index' as *;

.p-gift-box {
  &__list {
    display: grid;
    row-gap: $spacing-3xl;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 3%;
      left: 0;
      width: 38%;
      aspect-ratio: 1;
      background: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/25mothersday/images/carnation1.png')
        no-repeat center center / cover;
    }
    &::after {
      content: '';
      position: absolute;
      top: 70%;
      right: 0;
      width: 46%;
      aspect-ratio: 1;
      background: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/25mothersday/images/carnation2.png')
        no-repeat center center / cover;
    }
  }
  &__item {
    width: 70%;
    max-width: 400px;

    &._right {
      margin-inline-start: auto;
    }
    &._first {
    }
    &._second {
    }
  }
  &__article {
    display: grid;
    row-gap: $spacing-md;
  }
  &__card {
    border-radius: 12px;
    overflow: hidden;
    display: block;
    padding-block: $spacing-md $spacing-lg;
    padding-inline: $spacing-sm;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      opacity: 0.8;
    }
  }
  &__card-img {
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 3/4;
  }
  &__card-content {
    text-align: center;
    display: grid;
    row-gap: $spacing-sm;
  }
  &__card-title {
    font-size: fz(24, 32);
    font-weight: $fw-semibold;
    font-family: $font-serif;
  }
  &__card-price {
    font-size: fz(14, 16);
  }
  &__card-catch {
    font-size: fz(20, 24);
    font-family: $font-serif;
    font-weight: $fw-semibold;
    text-align: center;
  }
}
