@use '../foundation/index' as *;
@use '../global/index' as *;

.p-nav {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-md;
    column-gap: $spacing-xl;
    @include mq(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__item {
  }
  &__link {
    display: flex;
    align-items: center;
    margin-inline: auto;
    gap: 1rem;
    max-width: 300px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1rem;
      aspect-ratio: 1/1;
      background: url('/src/assets/images/svg/shevron-down.svg') no-repeat
        center center / contain;
    }
  }
  &__link-img {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
  }
  &__link-title {
    flex: 1 0 70%;
  }
}
