@use '../foundation/index' as *;
@use '../global/index' as *;

.p-price-gift {
  &__list {
    margin-block-start: $spacing-lg;
    @include mq(md) {
      margin-block-start: $spacing-xl;
    }
  }

  &__item {
    margin-block-end: $spacing-2xl;
    @include mq(md) {
      margin-block-end: $spacing-3xl;
    }
    &:last-child {
      margin-block-end: 0;
    }
  }

  &__price-label {
    font-family: $font-serif;
    padding-inline-start: 12.53%;
    font-size: fz(16, 20);
    margin-block-end: $spacing-lg;

    span {
      position: relative;
      display: inline-block;
      &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -1rem;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/25mothersday/images/price1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
      }
      &::before {
        content: '';
        position: absolute;
        display: block;
        bottom: -1rem;
        left: -26%;
        width: 26%;
        aspect-ratio: 3/4;
        background-image: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/25mothersday/images/price2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
      }
    }
  }

  &__card-wrapper {
    display: grid;
    gap: $spacing-md;
  }
}
