@use '../foundation/index' as *;
@use '../global/index' as *;

.p-pickup-item {
  &__article {
    display: grid;
    row-gap: $spacing-md;
    &:focus-visible {
      outline: 2px solid $color-sub;
    }
  }
  &__article-img {
    aspect-ratio: 4/3;
    overflow: hidden;
  }
  &__content {
    text-align: center;
    display: grid;
    row-gap: $spacing-sm;
  }
  &__title {
    font-size: fz(16, 20);
    font-weight: $fw-semibold;
    font-family: $font-serif;
  }
  &__price-label {
    font-size: fz(12, 14);
  }

  &__detail {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }
  &__splide-wrapper {
    overflow: hidden;
  }
}
