@use '../foundation/index' as *;
@use '../global/index' as *;

.p-price-range {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-inline: auto;
    justify-content: center;
  }
  &__item {
    width: 100%;
    max-width: 300px;
    @include mq(sm) {
      width: 33%;
    }
  }
  &__link {
    display: block;
    padding: 1rem;
    border: 1px solid $color-text;
    border-radius: 1rem;
    text-align: center;
    min-width: 130px;
    font-size: fz(14, 16);
    font-weight: $fw-semibold;
    font-family: $font-serif;
  }
  &__card-wrapper {
    display: grid;
    row-gap: $spacing-md;
  }
}
