@use '../foundation/index' as *;
@use '../global/index' as *;

.p-ranking {
  &__article {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    gap: $spacing-md;
  }
}
