@use '../foundation/index' as *;
@use '../global/index' as *;

.p-wrapping {
  &__img {
    aspect-ratio: 16/9;
    overflow: hidden;
    img {
      object-position: 0 60%;
    }
  }
  &__title {
    font-size: fz(16, 20);
    font-weight: $fw-semibold;
    font-family: $font-serif;
  }
  &__article {
    display: grid;
    row-gap: $spacing-md;
  }
}
