// function定義
@use 'sass:math';

@function fz($min-size, $max-size, $min-viewport: 375, $max-viewport: 1920) {
  $slope: math.div(($max-size - $min-size), ($max-viewport - $min-viewport));
  $intercept: $min-size - $slope * $min-viewport;

  $vw-part: $slope * 100;
  $rem-part: math.div($intercept, 16);

  $fluid-size: calc(#{$vw-part}vw + #{$rem-part}rem);

  @return clamp(
    #{math.div($min-size, 16)}rem,
    #{$fluid-size},
    #{math.div($max-size, 16)}rem
  );
}
